.container {
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(243, 241, 241);
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.addBlock {
    margin-top: 10px;
}

hr {
    width: 90vw;
}

h1 {
    margin: 0;
}

input[type="button"] {
    width: 13.5vw;
    height: 30px;
    padding: 0;

    border-radius: 3px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;

    &.edit {
        background-color: rgb(255, 188, 0);
    }

    &.delete {
        background-color: rgb(234, 70, 67);
    }
}

input[type="text"] {
    width: 75vw;
    height: 25px;
    margin: 0 10px 10px 0;

    &:focus {
        outline-color: rgb(10, 168, 168);
    }
}

.contact-list {
    width: 90vw;
    height: 700px;
    padding-top: 20px;
    overflow-y: auto;

    &-table {
        width: 100%;
        border-collapse: collapse;
        user-select: none;

        th {
            border-top: thick double lightgray;
        }

        th,
        tr {
            border-bottom: thick double lightgray;
            text-align: left;
        }

        td {
            padding: 5px 0;
        }

        input {
            width: 55px;
            height: 25px;
            padding: 0;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            color: white;
        }
    }
}

.addAbon {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(51, 51, 51, 0.527);
    z-index: 2;
}

.inputData {
    display: flex;
    margin: 300px auto;
    background-color: antiquewhite;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 250px;
    border-radius: 5px;
    padding: 10px;

    & input {
        padding: 0;
        margin: 0 0 10px 0;
    }

    & input[type="text"] {
        width: 99%;
    }
}

.flex {
    display: block;
}

.tool {
    position: relative;
    color: red;
    display: block;
    left: 395px;
    top: -20px;
    width: 10px;
    cursor: pointer;
}